.adobe/
.cache/
.composer/
.gem/
.gnupg/
.local/
.macromedia/
.mozilla/
.rvm/
.ssh/
.thumbnails/
.vim/

desktop/
divers/
public_html/
rails/
sf_partages

.bash_history
.mysql_history
.irb-history
.pry_history
.NERDTreeBookmarks
.vboxclient-*
.viminfo
.Xauthority
.xsession-errors
.config/obmenu-generator/cache.db
